* {
  background-color: #222222;
  box-sizing: border-box;
}
.App {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  font-size: 22px;
  text-align: center;
}
.header hr {
  width: 1100px;
}
.form-inline {
  font-size: 18px;
  width: 52%;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
}
.form-group2 {
  margin-left: -390px;
}
.section {
  float: left;
  background-color: #fff;
  height: 30px;
  width: 65px;
  border: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 11px;
}
.section option {
  background-color: #fff;
  text-align: center;
}
.form-group1 {
  margin-left: -50px;
}
.form-group1 input {
  color: black;
  background-color: #fff;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  margin-top: 11px;
}
.parag {
  background-color: #303030;
  margin-top: 25px;
  padding: 80px;
  text-align: start;
  width: 57.5%;
  height: 50%;
}
.parag p {
  background-color: #303030;
  width: 100%;
  height: 100%;
}
